---
layout: archive
title: "Projects"
author_profile: true
---

These are my current projects, I'll try to keep them updated as soon as I push them forward.

{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
<div class="post-index">
    <div class="post-image">
        <a href="{{ site.url }}{{ post.url }}">
            {% if post.logo %}
              <i class="fa fa-{{ post.logo }} fa-fw"></i>
            {% else %}
              <i class="fa fa-question-circle fa-fw"></i>
            {% endif %}
        </a>
    </div>
    <div class="post-content">
        <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
        <p>
            {% if post.summary %}
                <span class="excerpt">{{ post.summary }}</span>
            {% else %}
                <span class="excerpt">{{ post.excerpt | strip_html | truncatewords: 20}}</span>
            {% endif %}
        </p>
        <p class="post-detail">
            {{ post.date | date: site.date_format }}
            {% if site.disqus_shortname %}
              &middot;
              <a href="{{ site.url }}{{ post.url }}index.html#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>
              {% if post.update_date %}
                &middot;
                Updated {{ post.update_date | date: site.date_format }}
              {% endif %}
            {% endif %}
        </p>
    </div>
</div>
{% endfor %}
