---
layout: single
---

<div id="main" role="main">
  <article class="entry">
    <div class="entry-wrapper">
      <div class="entry-content">

      <center><p><i><q>What good amid these, O me, O life?</q></i></p></center>
      <center><p><i><q>That you are here—that life exists and identity,</q></i></p></center>
      <center><p><i><q>That the powerful play goes on, and you may contribute a verse.</q></i></p></center>
      <p align="right"> Walt Whitman</p>

      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}-->
